@media (max-width: 768px) {
  .bg {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
    z-index: 1000;
    text-align: center;
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
    align-items: center; 
  }
  .select {
    color: #ffffff;
    cursor: pointer;
  }
}
